extends layouts/main.pug
include mixin/commentBlock.pug

block content 
    .post__info 
       h1=post.title
       h4=post.author 
       h5=post.createAt 
       h3=post.content
    .post__btn 
    a(href=`/${post.id}/edit`) 
        button|Edit Post
    include partials/comment.pug
