extends layouts/main.pug
include mixin/commentBlock.pug

block content 
    .post__info 
       h1=post.title
       h4=post.author 
       h5=post.createAt 
       h3=post.content
    .post__btn 
    a(href=`/${post.id}/edit`) 
        button|Edit Post
    .post__comment 
        form(action=`/${post.id}/comment` method="post")
            input(type="text" value=`${user}` name="author")
            input(type="text" placeholder="소중한 댓글 한마디" name="comment")
            button(type="submit") 확인

    .comments 
        each comment in post.comments
            div #{comment.author} 
            div #{comment.text}
